.navAll{
    border: 1px solid blue;
    height: 50px;
    margin: 0 auto;

    .navLittle{
        background: #333;

        &>div{
            width: 1226px;
            height: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid pink;
            margin: 0 auto;

            &>ul{
                display: flex;
                align-items: center;
                &>li{
                    list-style: none;
                    margin-right: 15px;
                    font-size: 13px;
                    &>a{
                        color: #b0b0b0;
                        text-decoration: none;
                        &:hover{
                            color: #fff;
                        }
                    }
                }
                .shopCart{
                    width: 120px;
                    height: 40px;
                    border: 1px solid red;
                    text-align: center;
                    line-height: 40px;
                    margin-right: 0px;
                }
            }
        }
    }
}
